# ignore backup files
*~

# ignore vi swapfiles
.*.swp

# ignore compiled python
*pyc

# ignore some backup files
*bak

# ignore some c files
*\.o
*\.d

# ignore dropbox files
.dropbox.attr

# ignore directories
bin/
rel/
fpga/*/out/
fpga/*/output_files/
fpga/*/vip/
fpga/*/db/
fpga/*/incremental_db/

# build script shouldn't be in repo
build.sh

build_id.v
c5_pin_model_dump.txt
*.sopcinfo
PLLJ_PLLSPE_INFO.txt
*.qws
.qsys_edit
vip
*_sim
*.bsf
*.cmp
*.sip
*.spd
*.xml
*.f
*.ppf
